:root {
  // background
  --primary-bg-color: #7b7fea;
  --white-bg-color: #ffffff;

  // text
  --primary-text-color: #7b7fea;
  --white-text-color: #ffffff;
  --black-text-color: #000000;

  // answer buttons
  --yes-button-color: #0ecf82;
  --no-button-color: #ff7262;
}
